.no-webp .company {
  background-image: url("../img/year-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/year-desktop@2x.png");
  }
}

.no-webp .feedback__form::before {
  background-image: url("../img/paper_airplane@@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/paper_airplane@2x.png");
  }
}

.no-webp .page-header {
  background-image: url("../img/index-background-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-desktop@2x.jpg");
  }
}


.no-js .page-header__wrapper-block::before {
  background-image: url("../img/motherboard@1x.png"), url("../img/2-triangle.svg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/motherboard@2x.png"), url("../img/2-triangle.svg");
  }
}

.no-webp .product-list__link--production {
  background-image: url("../img/product-background-desktop-1@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/product-background-desktop-1@2x.png");
  }
}

.no-webp .product-list__link--installation {
  background-image: url("../img/product-background-desktop-2@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/product-background-desktop-2@2x.png");
  }
}

.no-webp .product-list__link--components {
  background-image: url("../img/product-background-desktop-3@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/product-background-desktop-3@2x.png");
  }
}

@media (max-width: $desktop-width) {
  .no-webp .feedback::before {
    display: none;
  }

  .no-webp .page-header {
    background-image: url("../img/index-background-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-tablet@2x.jpg");
    }
  }

  .no-webp .product-list__link--production {
    background-image: url("../img/product-background-tablet-1@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/product-background-tablet-1@2x.png");
    }
  }

  .no-webp .product-list__link--installation {
    background-image: url("../img/product-background-tablet-2@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/product-background-tablet-2@2x.png");
    }
  }

  .no-webp .product-list__link--components {
    background-image: url("../img/product-background-tablet-3@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/product-background-tablet-3@2x.png");
    }
  }
}

@media (max-width: $tablet-width) {
  .no-webp .company {
    background-image: none;
  }

  .no-webp .page-header {
    background-image: url("../img/index-background-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }

  .no-webp .product-list__link--production {
    background-image: url("../img/product-background-mobile-1@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/product-background-mobile-1@2x.png");
    }
  }

  .no-webp .product-list__link--installation {
    background-image: url("../img/product-background-mobile-2@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/product-background-mobile-2@2x.png");
    }
  }

  .no-webp .product-list__link--components {
    background-image: url("../img/product-background-mobile-3@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/product-background-mobile-3@2x.png");
    }
  }
}
