html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto Condensed", "Arial", monospace, "PT Mono", "Courier", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: $text-color;
  background-color: $white;
}

.page-main {
  flex: 1 0 auto;
  overflow: hidden;
}

.page-footer {
  flex-shrink: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
