@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin roboto {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

@mixin mono {
  font-family: "PT Mono", "Courier", monospace;
  font-style: normal;
}

@mixin pseudo {
  position: absolute;
  content: "";
}

@mixin placeholder {
  @include mono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

@mixin button {
  @include roboto;
  box-sizing: border-box;
  width: 287px;
  margin: 0 auto;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.7;
  }
}
