$blue-color: #00b2ff;
$text-color: #666666;
$white: #ffffff;
$black: #1b2d37;
$grey: #cdcdcd;
$border-color: #ebebeb;
$tablet-width: 767px;
$desktop-width: 1023px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
